@{
    
}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Azure App Service</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	</head>
	<body>
		<center>
			<h1>This app is deployed on Azure app service</h1>
			<h3>This is just HTML page!</h3>
		</center>
	</body>
</html>
